In [3]:
print("HELLO SEMUANYA") # ini kodingan untuk saldkjalsdkjaslkdj

HELLO SEMUANYA

In [9]:
# Python Lesson 01

print("Helo semuanyaaa, aku sudah belajar codiing pakai python")
print('halo semuanyaaaa')
print("Python was founded by guido van rosum")

Helo semuanyaaa, aku sudah belajar codiing pakai python
halo semuanyaaaa
Python was founded by guido van rosum

In [23]:
# cara buat variable

# boleh dimulai dari huruf apa saya

nilai_siswa = 12
print(nilai_siswa)

nilaiSiswa = 20
print(nilaiSiswa)

nilaiA = 90
nilaia = 80

print(nilaiA)
print(nilaia)

nilaisiswa2 = 90
print(nilaisiswa2)

_nilaisiswa = 80
print(_nilaisiswa)




_ = 1000
print(_)

12
20
90
80
90
80
1000

In [25]:
print(  type(nilaisiswa2)  )

<class 'int'>

In [28]:
angkatapistring = "25"

print(type(angkatapistring) )

<class 'str'>

In [30]:
num1 = 50
num2 = 90

print(type(num1))
print(type(num2))
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

<class 'int'>
<class 'int'>
140
-40
4500
0.5555555555555556

In [34]:
string1 = "Abid"
string2 = ' Ganteng'

print(type(string1))
print(type(string2))
print(string1 + string2)

<class 'str'>
<class 'str'>
Abid Ganteng