In [3]:
print("HELLO SEMUANYA") # ini kodingan untuk saldkjalsdkjaslkdj

HELLO SEMUANYA

In [9]:
# Python Lesson 01

print("Helo semuanyaaa, aku sudah belajar codiing pakai python")
print('halo semuanyaaaa')
print("Python was founded by guido van rosum")

Helo semuanyaaa, aku sudah belajar codiing pakai python
halo semuanyaaaa
Python was founded by guido van rosum

In [23]:
# cara buat variable

# boleh dimulai dari huruf apa saya

nilai_siswa = 12
print(nilai_siswa)

nilaiSiswa = 20
print(nilaiSiswa)

nilaiA = 90
nilaia = 80

print(nilaiA)
print(nilaia)

nilaisiswa2 = 90
print(nilaisiswa2)

_nilaisiswa = 80
print(_nilaisiswa)




_ = 1000
print(_)

12
20
90
80
90
80
1000

In [25]:
print(  type(nilaisiswa2)  )

<class 'int'>

In [28]:
angkatapistring = "25"

print(type(angkatapistring) )

<class 'str'>

In [30]:
num1 = 50
num2 = 90

print(type(num1))
print(type(num2))
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

<class 'int'>
<class 'int'>
140
-40
4500
0.5555555555555556

In [34]:
string1 = "Abid"
string2 = ' Ganteng'

print(type(string1))
print(type(string2))
print(string1 + string2)

<class 'str'>
<class 'str'>
Abid Ganteng

In [12]:
number1 = 20
number2 = 40
number3 = '15'
number4 = '40'



print("The type of number1 is : ", type(number1))
print("The type of number1 is : ", type(number2))
print("The type of number1 is : ", type(number3))
print("The type of number1 is : ", type(number4))

The type of number1 is :  <class 'int'>
The type of number1 is :  <class 'int'>
The type of number1 is :  <class 'str'>
The type of number1 is :  <class 'str'>

In [13]:
print(number1 + number2)
print(number3 + number4)

60
1540

In [14]:
#Change data type

print(number1 + int(number3))
print(str(number2) + number4)

35
4040

In [23]:
name = input("WHAT IS YOUR NAMEEEEEE!!!!")

print(name, name, name, name, name, name, name)

sigma sigma sigma sigma sigma sigma sigma

In [26]:
print("This is game store, can i help you? but before that i need to know your name")

name = input("What do people call you?")


print("Okay", name, "Thats cool name")

age = input("enter your age")
print("so you are", age, "Years old")

print("okay, so now chose between these item")
print("GTA 5")
print("Lost Saga")
print("FIFA 2022")
print("NBA 2021")

chose = input("Insert your chose here : ")

print("so, you are chosing : ", chose)

This is game store, can i help you? but before that i need to know your name
Okay abid Thats cool name
so you are 12 Years old
okay, so now chose between these item
GTA 5
Lost Saga
FIFA 2022
NBA 2021
so, you are chosing :  GTA 5

In [9]:
save = input("Who are you")

print("my name is ", save)

my name is  rabbit

In [12]:
#Indentation

age = input("How old are you")    # it still string



# turn it to integer

if int(age) > 20:
    print("I am old")  # the space in the beginning called indentation
else :
    print("I am young")

I am old

In [16]:
# Assigning multiple vaiables


x = 20
y = 30
z = 40


print(x)
print(y)
print(z)

print(x, y, z)
print(x + y + z)

20
30
40
20 30 40
90

In [18]:
a, b, c = 99, 88, 77

print(a, b, c)
print(a + b + c)

99 88 77
264

In [20]:
p = q = r = 50



print(p, q, r)

print(p + q + r)

50 50 50
150

In [27]:
# There is another data type, called list []

mylist = ["A", "B", "C", 'D', 'E']
mylist2 = [5, 6, 7, 8, 9]


value1, value2, value3, value4, value5 = mylist
value11, value12, value13, value14, value15 = mylist2

print(value1, value2, value3, value4, value5 )
print(value11, value12, value13, value14, value15 )

print(value1 + value2)
print(value12 + value13)

A B C D E
5 6 7 8 9
AB
13

In [36]:
#to swap value of 2 variables

# example

value1 = "A"
value2 = "B"


print("-----------")
print(value1)
print(value2)

# FIRST STEP 
empty = value2

#Second Step
value2 = value1


#THird Step
value1 = empty


print("-----------")
print(value1)
print(value2)

-----------
A
B
-----------
B
A

In [39]:
num1 = input("Insert the first number")
num2 = input("Insert the second number")



if int(num1)> int(num2):
    print("Num1 is bigger")
else:
    print("Num2 is bigger")

Num1 is bigger

In [1]:
# Lesson 4, Binary Number



9 & 5  #and, bitwise operation

1

In [2]:
9 | 5   # or, bitwise operation

13