In [3]:
print("HELLO SEMUANYA") # ini kodingan untuk saldkjalsdkjaslkdj

HELLO SEMUANYA

In [9]:
# Python Lesson 01

print("Helo semuanyaaa, aku sudah belajar codiing pakai python")
print('halo semuanyaaaa')
print("Python was founded by guido van rosum")

Helo semuanyaaa, aku sudah belajar codiing pakai python
halo semuanyaaaa
Python was founded by guido van rosum

In [23]:
# cara buat variable

# boleh dimulai dari huruf apa saya

nilai_siswa = 12
print(nilai_siswa)

nilaiSiswa = 20
print(nilaiSiswa)

nilaiA = 90
nilaia = 80

print(nilaiA)
print(nilaia)

nilaisiswa2 = 90
print(nilaisiswa2)

_nilaisiswa = 80
print(_nilaisiswa)




_ = 1000
print(_)

12
20
90
80
90
80
1000

In [25]:
print(  type(nilaisiswa2)  )

<class 'int'>

In [28]:
angkatapistring = "25"

print(type(angkatapistring) )

<class 'str'>

In [30]:
num1 = 50
num2 = 90

print(type(num1))
print(type(num2))
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

<class 'int'>
<class 'int'>
140
-40
4500
0.5555555555555556

In [34]:
string1 = "Abid"
string2 = ' Ganteng'

print(type(string1))
print(type(string2))
print(string1 + string2)

<class 'str'>
<class 'str'>
Abid Ganteng

In [12]:
number1 = 20
number2 = 40
number3 = '15'
number4 = '40'



print("The type of number1 is : ", type(number1))
print("The type of number1 is : ", type(number2))
print("The type of number1 is : ", type(number3))
print("The type of number1 is : ", type(number4))

The type of number1 is :  <class 'int'>
The type of number1 is :  <class 'int'>
The type of number1 is :  <class 'str'>
The type of number1 is :  <class 'str'>

In [13]:
print(number1 + number2)
print(number3 + number4)

60
1540

In [14]:
#Change data type

print(number1 + int(number3))
print(str(number2) + number4)

35
4040

In [23]:
name = input("WHAT IS YOUR NAMEEEEEE!!!!")

print(name, name, name, name, name, name, name)

sigma sigma sigma sigma sigma sigma sigma

In [26]:
print("This is game store, can i help you? but before that i need to know your name")

name = input("What do people call you?")


print("Okay", name, "Thats cool name")

age = input("enter your age")
print("so you are", age, "Years old")

print("okay, so now chose between these item")
print("GTA 5")
print("Lost Saga")
print("FIFA 2022")
print("NBA 2021")

chose = input("Insert your chose here : ")

print("so, you are chosing : ", chose)

This is game store, can i help you? but before that i need to know your name
Okay abid Thats cool name
so you are 12 Years old
okay, so now chose between these item
GTA 5
Lost Saga
FIFA 2022
NBA 2021
so, you are chosing :  GTA 5

In [9]:
save = input("Who are you")

print("my name is ", save)

my name is  rabbit

In [12]:
#Indentation

age = input("How old are you")    # it still string



# turn it to integer

if int(age) > 20:
    print("I am old")  # the space in the beginning called indentation
else :
    print("I am young")

I am old

In [16]:
# Assigning multiple vaiables


x = 20
y = 30
z = 40


print(x)
print(y)
print(z)

print(x, y, z)
print(x + y + z)

20
30
40
20 30 40
90

In [18]:
a, b, c = 99, 88, 77

print(a, b, c)
print(a + b + c)

99 88 77
264

In [20]:
p = q = r = 50



print(p, q, r)

print(p + q + r)

50 50 50
150

In [27]:
# There is another data type, called list []

mylist = ["A", "B", "C", 'D', 'E']
mylist2 = [5, 6, 7, 8, 9]


value1, value2, value3, value4, value5 = mylist
value11, value12, value13, value14, value15 = mylist2

print(value1, value2, value3, value4, value5 )
print(value11, value12, value13, value14, value15 )

print(value1 + value2)
print(value12 + value13)

A B C D E
5 6 7 8 9
AB
13

In [36]:
#to swap value of 2 variables

# example

value1 = "A"
value2 = "B"


print("-----------")
print(value1)
print(value2)

# FIRST STEP 
empty = value2

#Second Step
value2 = value1


#THird Step
value1 = empty


print("-----------")
print(value1)
print(value2)

-----------
A
B
-----------
B
A

In [39]:
num1 = input("Insert the first number")
num2 = input("Insert the second number")



if int(num1)> int(num2):
    print("Num1 is bigger")
else:
    print("Num2 is bigger")

Num1 is bigger

In [1]:
# Lesson 4, Binary Number



9 & 5  #and, bitwise operation

1

In [2]:
9 | 5   # or, bitwise operation

13

In [15]:
number1 = 12


print(number1)
print(type(number1))
print(f"This {number1} datatype is : {type(number1)} ")     #f stands for format

12
<class 'int'>
This 12 the datatype is : <class 'int'>

In [16]:
streing1 = "Ayam"


print(streing1)
print(type(streing1))
print(f"This {streing1} datatype is : {type(streing1)} ")     #f stands for format

Ayam
<class 'str'>
This Ayam datatype is : <class 'str'>

In [19]:
boolean1 = True


print(boolean1)
print(type(boolean1))
print(f"This {boolean1} datatype is : {type(boolean1)} ")     #f stands for format

True
<class 'bool'>
This True datatype is : <class 'bool'>

In [20]:
list1 = [1, 2, 3,4, 5, 6, 7, 8, 9, 10]    #using []


print(list1)
print(type(list1))
print(f"This {list1} datatype is : {type(list1)} ")     #f stands for format

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
This [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] datatype is : <class 'list'>

In [21]:
list2 = ['A', 'B', 'C', 'D', 'E']  #using []


print(list2)
print(type(list2))
print(f"This {list2} datatype is : {type(list2)} ")     #f stands for format

['A', 'B', 'C', 'D', 'E']
<class 'list'>
This ['A', 'B', 'C', 'D', 'E'] datatype is : <class 'list'>

In [22]:
tuple1 = (1, 2, 3,4, 5, 6, 7, 8, 9, 10)   #using ()


print(tuple1)
print(type(tuple1))
print(f"This {tuple1} datatype is : {type(tuple1)} ")     #f stands for format

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>
This (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) datatype is : <class 'tuple'>

In [23]:
tuple2 = ('A', 'B', 'C', 'D', 'E')  #using ()


print(tuple2)
print(type(tuple2))
print(f"This {tuple2} datatype is : {type(tuple2)} ")     #f stands for format

('A', 'B', 'C', 'D', 'E')
<class 'tuple'>
This ('A', 'B', 'C', 'D', 'E') datatype is : <class 'tuple'>

In [25]:
set = {'A', 'B', 'C', 'D', 'E', 'A'}  #using {}, set will eliminate duplicate


print(set)
print(type(set))
print(f"This {set} datatype is : {type(set)} ")     #f stands for format

{'E', 'B', 'D', 'A', 'C'}
<class 'set'>
This {'E', 'B', 'D', 'A', 'C'} datatype is : <class 'set'>

In [32]:
set2 = {1, 2, 3,4, 5, 6, 7, 8, 9, 10, 10, 1, 2, 3, 4, 5}  #using {}

print(set2)
print(type(set2))
print(f"This {set2} datatype is : {type(set2)} ")     #f stands for format

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>
This {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} datatype is : <class 'set'>

In [34]:
# its called dictionary, buts its not that dictionary, its different

dictionaryOne = {'Student1' : "Abid", 
                 'Student2' : 'Adam', 
                'Student3' : 'Ryuga'  }  #using {}, it has two element { key1 : value1 , key2 : value2}, each object separated by comma

print(dictionaryOne)
print(type(dictionaryOne))
print(f"This {dictionaryOne} datatype is : {type(dictionaryOne)} ")     #f stands for format

{'Student1': 'Abid', 'Student2': 'Adam', 'Student3': 'Ryuga'}
<class 'dict'>
This {'Student1': 'Abid', 'Student2': 'Adam', 'Student3': 'Ryuga'} datatype is : <class 'dict'>

In [35]:
# its called dictionary, buts its not that dictionary, its different

dicrtionaryTwo = {'Score1' : 80, 
                 'Score2' : 89, 
                'Score3' :  88 }  #using {}, it has two element { key1 : value1 , key2 : value2}, each object separated by comma

print(dicrtionaryTwo)
print(type(dicrtionaryTwo))
print(f"This {dicrtionaryTwo} datatype is : {type(dicrtionaryTwo)} ")     #f stands for format

{'Score1': 80, 'Score2': 89, 'Score3': 88}
<class 'dict'>
This {'Score1': 80, 'Score2': 89, 'Score3': 88} datatype is : <class 'dict'>

In [4]:
# LESSON 6

#Data Conversion

var1 = "12"
print(type(var1))
print(var1 + var1)



var1 = int(var1)
print(type(var1))
print(var1 + var1)

<class 'str'>
1212
<class 'int'>
24

In [7]:
var1 = "abid"
print(type(var1))
print(var1 + var1)



var1 = int(var1)
print(type(var1))
print(var1 + var1)

<class 'str'>
abidabid

ValueError: invalid literal for int() with base 10: 'abid'

In [17]:
# Concatination
first_text = 'Budi'
second_text = ' Middle Handsome'
age = 90

#FIRST
print(first_text + second_text + "And he is " + str(age))

Budi Middle HandsomeAnd he is 90

In [25]:
# SECOND 
print("{} is {} and {} years old".format(first_text, second_text, age))   # no need to change into string, thats cool right

Budi is  Middle Handsome and 90 years old

In [26]:
print("{} is {} and {} years old".format( second_text, age, first_text))

 Middle Handsome is 90 and Budi years old

In [33]:
# THIRD
print(f"{first_text} is {second_text} and {age} years old")

Budi is  Middle Handsome and 90 years old

In [39]:
#REPETITION

mystring = "Abid "
print(mystring * 10)
print("#" * 100)


mynumber = 12
print(mynumber * 10)
print(999 * 10)

Abid Abid Abid Abid Abid Abid Abid Abid Abid Abid
####################################################################################################
120
9990

In [8]:
#Slicing

long_text = "This is looooong textQ"
print(long_text[0])
print(long_text[1])
print(long_text[-1])


print(long_text[0:4])
print(long_text[5:7])

T
h
Q
This
is

In [14]:
#Membership

#in text
long_text = "This is looooong textQ"
print('T' in long_text)
print('This' in long_text)
print('this' in long_text)


# in list or tuple
mylist1 = [1, 2, 3, 4, 5]
print( 1 in mylist1)
print( 9999 in mylist1)
print( "1" in mylist1)

True
True
False
True
False
False

In [30]:
# Lesson7 Number Number are you positive

# if Conditional
age = int(input("Insert your age : "))


print('THIS IS AGE DETECTION')

if age >= 17:
    print(f"You are an adult, because you are {age}")
elif age >= 14:
    print(f'Your are a teenager, because you are still {age}')
elif age >= 0:
    print(f"you are still kids, because you still {age}")
else : 
    print(f"YOUARE NOT BORN YET, you will be available in world in {age } years")


print("THANKYOU FOR DETECTING YOUR AGE")

THIS IS AGE DETECTION
you are still kids, because you still 5
THANKYOU FOR DETECTING YOUR AGE

In [43]:
number = int(input("Insert your favrite number : "))



print("IS YOUR NUMBER POSITIVE OR NEGATIVE?")
if number > 0 :
    print(f"{number} is positive Number")
elif number < 0 :
    print(f"{number} is negative| Number")
else:
    print("THATS ZEROOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO")


print("THANKYOUUUUUUU")

IS YOUR NUMBER POSITIVE OR NEGATIVE?
-12 is negative| Number
THANKYOUUUUUUU

In [8]:
# Lesson 8 Operator to the rescue


#arithmatics Operation (math Operation)

number1 = 12
number2 = 4


print(f'{number1} + {number2} = {number1 + number2}')
print(f'{number1} - {number2} = {number1 - number2}')
print(f'{number1} * {number2} = {number1 * number2}')
print(f'{number1} / {number2} = {number1 / number2}')

12 + 4 = 16
12 - 4 = 8
12 * 4 = 48
12 / 4 = 3.0

In [15]:

text1 = '12'
text2 = '4'


print(f'{text1} + {text2} = {text1 + text2}')
# print(f'{text1} - {text2} = {text1 - text2}')   #doesnot work
# print(f'{text1} * {text2} = {text1 * text2}')  #doesnot work
# print(f'{text1} / {text2} = {text1 / text2}') #doesnot work

12 + 4 = 124

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [20]:
boolean1 = True      # True = 1
boolean2 = False        # False = 0


print(f'{boolean1} + {boolean2} = {boolean1 + boolean2}')
print(f'{boolean1} - {boolean2} = {boolean1 - boolean2}')
print(f'{boolean1} * {boolean2} = {boolean1 * boolean2}')
# print(f'{boolean1} / {boolean2} = {boolean1 / boolean2}')    # Does not work

True + False = 1
True - False = 1
True * False = 0

In [27]:
#Comparison Operator



number1 = 12
number2 = 4



print(f'{number1} > {number2}  {number1 > number2}')
print(f'{number1} < {number2}  {number1 < number2}')

print(f'{number1} >= {number2}  {number1 >= number2}')
print(f'{number1} >= {number1}  {number1 >= number1}')

print(f'{number1} <= {number2}  {number1 <=number2}')
print(f'{number1} <= {number1}  {number1 <=number1}')

print(f'{number1} == {number1}  {number1 ==number1}')
print(f'{number1} == {number1}  {number1 ==number1}')

print(f'{number1} != {number1}  {number1 !=number1}')
print(f'{number1} != {number2}  {number1 !=number2}')

12 > 4  True
12 < 4  False
12 >= 4  True
12 >= 12  True
12 <= 4  False
12 <= 12  True
12 == 12  True
12 == 12  True
12 != 12  False
12 != 4  True

In [16]:
# logical operator
# and, or, not


#are you gonno go travel?
areYouhaveMoney = True
areyouFree = True
print(areYouhaveMoney & areyouFree)
print(f'{areYouhaveMoney} and {areyouFree} = {areYouhaveMoney & areyouFree}')


areYouhaveMoney = True
areyouFree = False
print(areYouhaveMoney & areyouFree)
print(f'{areYouhaveMoney} and {areyouFree} = {areYouhaveMoney & areyouFree}')

areYouhaveMoney = False
areyouFree = True
print(areYouhaveMoney & areyouFree)
print(f'{areYouhaveMoney} and {areyouFree} = {areYouhaveMoney & areyouFree}')

areYouhaveMoney = False
areyouFree = False
print(areYouhaveMoney & areyouFree)
print(f'{areYouhaveMoney} and {areyouFree} = {areYouhaveMoney & areyouFree}')

True
True and True = True
False
True and False = False
False
False and True = False
False
False and False = False

In [17]:
#are you passed the test
# syarat : mtk lulus 
# atau bahasa inggris lulus


math = True
english = True
print(math or english)
print(f'{math} and {english} = {math or english}')

math = True
english = False
print(math or english)
print(f'{areYouhaveMoney} and {areyouFree} = {areYouhaveMoney & areyouFree}')


math = False
english = True
print(math or english)
print(f'{areYouhaveMoney} and {areyouFree} = {areYouhaveMoney & areyouFree}')


math = False
english = False
print(math or english)
print(f'{areYouhaveMoney} and {areyouFree} = {areYouhaveMoney & areyouFree}')

True
True and True = True
True
False and False = False
True
False and False = False
False
False and False = False

In [20]:
#Are you state servant?

areYouPolice = True
areYouSoldier = True
print(areYouPolice or areYouSoldier)

areYouPolice = True
areYouSoldier = False
print(areYouPolice or areYouSoldier)

areYouPolice = False
areYouSoldier = True
print(areYouPolice or areYouSoldier)

areYouPolice = False
areYouSoldier = False
print(areYouPolice or areYouSoldier)

True
True
True
False

In [2]:
# bitwise operation


# 2 = 000010
# 3 = 000011
# 4 = 000100
# 5 = 000101




# 2 = 000010
# 3 = 000011

# and 
#     000010 = 2

print(2 & 3)

2

In [3]:
# 2 = 000010
# 3 = 000011

# or 

#     000011 = 3

print(2 | 3)

3

In [4]:
print(60 | 40)

60

In [5]:
print( 60 & 40)

40

In [8]:
#assigntment operator

value = 5

print(value)

# value = value + 1
value += 1
print(value)

5
6

In [9]:
value = 5

print(value)

# value = value + 1
value -= 1
print(value)

5
4

In [10]:
value = 20

print(value)

# value = value + 1
value *= 4
print(value)

20
80

In [11]:
value = 20

print(value)

# value = value + 1
value /= 4
print(value)

20
5.0

In [14]:
# Identity oprator


value = 5

value2 = 10


print(value is value2)
print(value is value)
print(value2 is value2)

False
True
True

In [19]:
#Membership operator

longtext = "This is what i want"
text = 'what'

print('this' in longtext)
print('This' in longtext)
print(text in longtext)
print('T' in longtext)
print('Z' in longtext)

False
True
True
True
False

In [11]:
firstnumber = int(input("insert number"))
operation = input('what operation?')
secondnumber = int(input('Insert Secondnumber'))


if operation == 'add':
    print(f"The result of {firstnumber} + {secondnumber} : ")
    print(firstnumber + secondnumber)
elif operation == 'min':
    print("The result of the substraction is : ")
    print(firstnumber - secondnumber)
else :
    print("wHAT DO YOU MEAAAAAAN ")

wHAT DO YOU MEAAAAAAN

In [13]:
print("This is grade calculator")


score = int(input("Please insert your SCORE here"))

This is grade calculator