In [1]:
import re

In [4]:
re.findall('abid', "abid is abid")

['abid', 'abid']

In [22]:
re.findall('[A-Za-z]+', 'MY NAME abid   @user1')

['MY', 'NAME', 'abid', 'user']

In [17]:
re.findall('[A-Za-z1-9]+@gmail' , 'abid@gmail    abi@yahoo')

['abid@gmail']

In [23]:
text = 'abid@gmail.com ujang@yahoo.com danu@food.id'

In [30]:
re.findall('[A-Za-z0-9]+@[A-Za-z]+.com', text)

['abid@gmail.com', 'ujang@yahoo.com']

In [51]:
mytext = "I like to eat here @user1 @user2"

result = re.findall('@[A-Za-z0-9]+', mytext)

# print(result[0])
mytext = re.sub(result[0], '', mytext)

# print(result[1])
mytext = re.sub(result[1], '', mytext)


print(mytext)

I like to eat here

In [39]:
re.sub('a', 'b', "ayam")

'bybm'

In [2]:
import re

In [3]:
def removePattern(mytext, pattern):
  result = re.findall(pattern, mytext)

  for i in result:
    mytext = re.sub(i, '', mytext)
  return mytext

In [34]:
newtext = removePattern("I like to eat @user1 @user2    ...... .....", '@[A-Za-z0-9]+')

In [38]:
removePattern(newtext, '  ')

'I like to eat...... .....'

In [52]:
import pandas as pd

# Generate sample data
data = {
    "Strings": [
        "apple", "banana", "cherry", "date", "elderberry", "fig", "grape",
        "honeydew", "kiwi", "lemon", "mango", "nectarine", "orange", "papaya",
        "quince", "raspberry", "strawberry", "tangerine", "ugli fruit",
        "vanilla", "watermelon", "xigua", "yellow passion fruit", "zucchini",
        "apricot"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

                 Strings
0                  apple
1                 banana
2                 cherry
3                   date
4             elderberry
5                    fig
6                  grape
7               honeydew
8                   kiwi
9                  lemon
10                 mango
11             nectarine
12                orange
13                papaya
14                quince
15             raspberry
16            strawberry
17             tangerine
18            ugli fruit
19               vanilla
20            watermelon
21                 xigua
22  yellow passion fruit
23              zucchini
24               apricot

In [51]:
def long_text(thetext, multiplication):
    return len(thetext) * multiplication

In [46]:
long_text("ABid", 5)

20

In [53]:
import numpy as np

np.vectorize(long_text)(df['Strings'], 10)

array([ 50,  60,  60,  40, 100,  30,  50,  80,  40,  50,  50,  90,  60,
        60,  60,  90, 100,  90, 100,  70, 100,  50, 200,  80,  70])

In [54]:
df['Strings']

0                    apple
1                   banana
2                   cherry
3                     date
4               elderberry
5                      fig
6                    grape
7                 honeydew
8                     kiwi
9                    lemon
10                   mango
11               nectarine
12                  orange
13                  papaya
14                  quince
15               raspberry
16              strawberry
17               tangerine
18              ugli fruit
19                 vanilla
20              watermelon
21                   xigua
22    yellow passion fruit
23                zucchini
24                 apricot
Name: Strings, dtype: object

In [56]:
import pandas as pd
import random

# Original strings
fruits = [
    "apple", "banana", "cherry", "date", "elderberry", "fig", "grape",
    "honeydew", "kiwi", "lemon", "mango", "nectarine", "orange", "papaya",
    "quince", "raspberry", "strawberry", "tangerine", "ugli fruit",
    "vanilla", "watermelon", "xigua", "yellow passion fruit", "zucchini",
    "apricot"
]

# Function to insert random @ or % into the strings
def insert_random_chars(s):
    chars = ['@', '%']
    index = random.randint(0, len(s))
    char = random.choice(chars)
    return s[:index] + char + s[index:]

# Apply the function to the list
noisy_fruits = [insert_random_chars(fruit) for fruit in fruits]

# Create DataFrame
data = {
    "Strings": noisy_fruits
}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

                  Strings
0                  app@le
1                 bana@na
2                 cherr@y
3                   date@
4             elderb@erry
5                    fi@g
6                  gra@pe
7               hone@ydew
8                   ki@wi
9                  lem@on
10                 mang@o
11             nectarin@e
12                ora%nge
13                @papaya
14                quin%ce
15             r%aspberry
16            strawberry%
17             tangeri@ne
18            @ugli fruit
19               vani%lla
20            wate@rmelon
21                 xigu@a
22  yel@low passion fruit
23              zucchin%i
24               apricot@

In [68]:
df['Strings'].str.replace('[^A-Za-z1-9#]', '', regex=True)

0                  apple
1                 banana
2                 cherry
3                   date
4             elderberry
5                    fig
6                  grape
7               honeydew
8                   kiwi
9                  lemon
10                 mango
11             nectarine
12                orange
13                papaya
14                quince
15             raspberry
16            strawberry
17             tangerine
18             uglifruit
19               vanilla
20            watermelon
21                 xigua
22    yellowpassionfruit
23              zucchini
24               apricot
Name: Strings, dtype: object

In [69]:
import pandas as pd

# List of sentences
sentences = [
    "The quick brown fox jumps over the lazy dog.",
    "She sells seashells by the seashore.",
    "How much wood would a woodchuck chuck if a woodchuck could chuck wood?",
    "To be or not to be, that is the question.",
    "All that glitters is not gold.",
    "A journey of a thousand miles begins with a single step.",
    "Better late than never.",
    "Actions speak louder than words.",
    "Beauty is in the eye of the beholder.",
    "Birds of a feather flock together.",
    "Fortune favors the bold.",
    "When in Rome, do as the Romans do.",
    "The pen is mightier than the sword.",
    "You can't judge a book by its cover.",
    "The early bird catches the worm.",
    "A picture is worth a thousand words.",
    "Practice makes perfect.",
    "Every cloud has a silver lining.",
    "A watched pot never boils.",
    "When the going gets tough, the tough get going."
]

# Creating a DataFrame
df = pd.DataFrame(sentences, columns=['Sentence'])

# Display the DataFrame
print(df)

                                             Sentence
0        The quick brown fox jumps over the lazy dog.
1                She sells seashells by the seashore.
2   How much wood would a woodchuck chuck if a woo...
3           To be or not to be, that is the question.
4                      All that glitters is not gold.
5   A journey of a thousand miles begins with a si...
6                             Better late than never.
7                    Actions speak louder than words.
8               Beauty is in the eye of the beholder.
9                  Birds of a feather flock together.
10                           Fortune favors the bold.
11                 When in Rome, do as the Romans do.
12                The pen is mightier than the sword.
13               You can't judge a book by its cover.
14                   The early bird catches the worm.
15               A picture is worth a thousand words.
16                            Practice makes perfect.
17                   Every cloud has a silver lining.
18                         A watched pot never boils.
19    When the going gets tough, the tough get going.

In [75]:
# we want to seperate each sentences in a list

"this is my string".split()

['this', 'is', 'my', 'string']

In [76]:
def split_thetext(text):
    return text.split()

In [77]:
split_thetext("This is my string")

['This', 'is', 'my', 'string']

In [78]:
df['Sentence'].apply(split_thetext)

0     [The, quick, brown, fox, jumps, over, the, laz...
1           [She, sells, seashells, by, the, seashore.]
2     [How, much, wood, would, a, woodchuck, chuck, ...
3     [To, be, or, not, to, be,, that, is, the, ques...
4                 [All, that, glitters, is, not, gold.]
5     [A, journey, of, a, thousand, miles, begins, w...
6                          [Better, late, than, never.]
7                [Actions, speak, louder, than, words.]
8        [Beauty, is, in, the, eye, of, the, beholder.]
9             [Birds, of, a, feather, flock, together.]
10                        [Fortune, favors, the, bold.]
11          [When, in, Rome,, do, as, the, Romans, do.]
12          [The, pen, is, mightier, than, the, sword.]
13        [You, can't, judge, a, book, by, its, cover.]
14              [The, early, bird, catches, the, worm.]
15         [A, picture, is, worth, a, thousand, words.]
16                          [Practice, makes, perfect.]
17              [Every, cloud, has, a, silver, lining.]
18                     [A, watched, pot, never, boils.]
19    [When, the, going, gets, tough,, the, tough, g...
Name: Sentence, dtype: object

In [79]:
df['Sentence'].apply(lambda x: x.split())

0     [The, quick, brown, fox, jumps, over, the, laz...
1           [She, sells, seashells, by, the, seashore.]
2     [How, much, wood, would, a, woodchuck, chuck, ...
3     [To, be, or, not, to, be,, that, is, the, ques...
4                 [All, that, glitters, is, not, gold.]
5     [A, journey, of, a, thousand, miles, begins, w...
6                          [Better, late, than, never.]
7                [Actions, speak, louder, than, words.]
8        [Beauty, is, in, the, eye, of, the, beholder.]
9             [Birds, of, a, feather, flock, together.]
10                        [Fortune, favors, the, bold.]
11          [When, in, Rome,, do, as, the, Romans, do.]
12          [The, pen, is, mightier, than, the, sword.]
13        [You, can't, judge, a, book, by, its, cover.]
14              [The, early, bird, catches, the, worm.]
15         [A, picture, is, worth, a, thousand, words.]
16                          [Practice, makes, perfect.]
17              [Every, cloud, has, a, silver, lining.]
18                     [A, watched, pot, never, boils.]
19    [When, the, going, gets, tough,, the, tough, g...
Name: Sentence, dtype: object

In [81]:
# nltk > stemporter



from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()

stemmer.stem("running")

ModuleNotFoundError: No module named 'nltk'