In [3]:
print("Hallo semuanya, perkenalkan nama saya ABID")
print("Saya senang sekali belajar di brightchamps, huhuy")
print("Kali ini saya akan belajar tentang print function and input function")

Hallo semuanya, perkenalkan nama saya ABID
Saya senang sekali belajar di brightchamps, huhuy
Kali ini saya akan belajar tentang print function and input function

In [11]:
print("Pertama mari belajar tentang print terlebih dahulu")
print("Ada beberapa cara untuk menggabungkan dua teks ")
print("Pertama : Menggunakan Tambah")



nama = "Abid"
status = "Ganteng"

print(nama + " " + status)
print("Saudaranya Abid" + " " + status)

Pertama mari belajar tentang print terlebih dahulu
Ada beberapa cara untuk menggabungkan dua teks
Pertama : Menggunakan Tambah
Abid Ganteng
Saudaranya Abid Ganteng

In [14]:
nama = "Abid"
status = "Ganteng"
umur = 12

print("Nama saya : " + nama + " dan saya : " + status+ " Umur saya : ")

Nama saya : Abid dan saya : Ganteng Umur saya :

In [4]:
print("Kedua, pakai koma")


nama = "Abid"
status = "Kaya Raya"
umur = 19
print("Nama saya", nama, "dan saya ", status, "Umur saya", umur)

Kedua, pakai koma
Nama saya Abid dan saya  Kaya Raya Umur saya 19

In [17]:
print("Ketiga, pakai formatttt")

nama = "BUDI"
status = "Kaya Raya"
umur = 19

print("Nama saya {}, dan saya {}, Umur saya {}".format(nama, status, umur))

Ketiga, pakai formatttt
Nama saya BUDI, dan saya Kaya Raya, Umur saya 19

In [28]:
print("PAKAI YANG F")

nama = input("Siapa namanya?")
status = "Kaya Raya"
umur = 19

print(f"Nama saya {nama}, dan saya {status}, Umur saya {umur}")

PAKAI YANG F
Nama saya Jonathan B, dan saya Kaya Raya, Umur saya 19

In [4]:
# Urutan yang benar itu disebut sebagaiiiiii :::::::::::::::::::::::::::::::::::::::::::::::: AAAAAAAAAAAAAAAAAAAAALLLLLLLLLLLLLLLLLLGGGGGGGGGGGGGGORITMAAAA
angka1 = 10
angka2 = 20

print(angka1 + angka2)

30

In [9]:
umursaya = 25

if umursaya > 17:
    print("Saya sudah dewasa")

Saya sudah dewasa

In [19]:
umursaya = 12
umur_siswa = 12
siswa1 = 12
siswa2 = 12
siswa2_siswa = 12
_boleh = 12

UMUMR = 12

In [20]:
umurku = 12
umurmu = 13
umurnya = 14

print(umurku)
print(umurmu)
print(umurnya)

12
13
14

In [21]:
ageku, agemu, agenya = 12, 13, 14

print(ageku)
print(agemu)
print(agenya)

12
13
14