In [26]:
import pandas as pd


from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
vector = cv.fit_transform(['The cat love to eat', "The dog love to eat", "The cat chase the dog"])
print(vector.toarray())
print(vector.data)
cv.get_feature_names_out()

pd.DataFrame(vector.toarray(), columns = [cv.get_feature_names_out()])

[[1 0 0 1 1 1 1]
 [0 0 1 1 1 1 1]
 [1 1 1 0 0 2 0]]
[1 1 1 1 1 1 1 1 1 1 2 1 1 1]

  cat chase dog eat love the to
0   1     0   0   1    1   1  1
1   0     0   1   1    1   1  1
2   1     1   1   0    0   2  0

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

cv_tf = TfidfVectorizer(stop_words='english')
# cv_tf = TfidfVectorizer()

vector = cv_tf.fit_transform(['The cat love to eat', "The dog love to eat", "The cat chase the dog"])
# print(vector.toarray())
# print('-----')
# print(vector.data)
# cv_tf.get_feature_names_out()
print(cv_tf.vocabulary_)
pd.DataFrame(vector.toarray(), columns = [cv_tf.get_feature_names_out()])

{'cat': 0, 'love': 4, 'eat': 3, 'dog': 2, 'chase': 1}

        cat     chase       dog      eat     love
0  0.577350  0.000000  0.000000  0.57735  0.57735
1  0.000000  0.000000  0.577350  0.57735  0.57735
2  0.517856  0.680919  0.517856  0.00000  0.00000

In [35]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Example text data
text_data = [
    "This is the first text.",
    "Another text for the second row.",
    "A third text goes here.",
    "The fourth row has some more text.",
    "Fifth row's text.",
    "Sixth row with additional text.",
    "Text for the seventh row.",
    "Eighth row text.",
    "Ninth row text here.",
    "Tenth and final row's text."
]

# Create CountVectorizer
count_vectorizer = CountVectorizer()

# Vectorize the text data
count_matrix = count_vectorizer.fit_transform(text_data)

# Convert the sparse matrix to a DataFrame
df = pd.DataFrame(count_matrix.toarray(), columns=count_vectorizer.get_feature_names_out())

# Display DataFrame
df

,additional,and,another,eighth,fifth,final,first,for,fourth,goes,...,second,seventh,sixth,some,tenth,text,the,third,this,with
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
1,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,1,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
6,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,1,0,0,0
7,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

In [41]:
vect = CountVectorizer()
vect.fit(df)
vect.get_feature_names_out()

array(['additional', 'and', 'another', 'eighth', 'fifth', 'final',
       'first', 'for', 'fourth', 'goes', 'has', 'here', 'is', 'more',
       'ninth', 'row', 'second', 'seventh', 'sixth', 'some', 'tenth',
       'text', 'the', 'third', 'this', 'with'], dtype=object)

In [1]:
import pandas as pd

pd.set_option("display.max")

In [4]:
import numpy as np

def odd_even(number):
    if number %2 == 0


np.vectorize(['a', 'b'])

IndentationError: expected an indented block after function definition on line 3 (746720751.py, line 6)

In [4]:

import pandas as pd

# Sample tweets
tweets = [
    "Loving the weather today! #sunny #spring #happy",
    "Just had the best lunch ever ğŸ”ğŸŸ",
    "Why is Monday always so gloomy? â˜ï¸ğŸ˜”",
    "I can't believe I forgot my umbrella again! â˜”ï¸ğŸ˜©",
    "Feeling productive this morning ğŸ’ª",
    "Stuck in traffic again, ugh! ğŸš—ğŸš•ğŸš™",
    "Excited for the concert tonight! ğŸ¶ğŸ¤",
    "Another day, another dollar ğŸ’¸ğŸ’°",
    "Coffee is my best friend in the morning â˜•ï¸ğŸ˜´",
    "Nothing beats a good book on a rainy day ğŸ“–â˜”ï¸",
    "Why do mornings exist? ğŸ˜´â°",
    "Just finished a great workout! ğŸ’ªğŸ’¦",
    "I need a vacation ASAP! ğŸ–âœˆï¸",
    "Netflix and chill kinda night ğŸ¿ğŸ“º",
    "Can't wait for the weekend! ğŸ‰ğŸ»",
    "Craving pizza right now ğŸ•ğŸ˜‹",
    "Monday blues hitting hard today ğŸ˜ğŸ’¼",
    "That feeling when you find money in your pocket ğŸ’°ğŸ˜",
    "Why do weekends go by so fast? â³ğŸ˜©",
    "Wishing I was at the beach instead of work ğŸ–ğŸ˜©",
    "Feeling grateful for good friends and good food ğŸ™ğŸ²",
    "Happiness is a warm puppy ğŸ¶â¤ï¸",
    "Just saw the most amazing sunset ğŸŒ…ğŸ˜",
    "Work hard, play harder ğŸ’ªğŸ‰",
    "Already counting down the days until my next vacation âœˆï¸ğŸŒ´",
    "Can't believe I'm awake at this hour! ğŸ˜³ #nosleep @nightowl *^&^$^%#"
]

# Create DataFrame
df = pd.DataFrame(tweets, columns=['tweet'])

# Display DataFrame
print(df)


# This DataFrame includes various symbols and a mention `@nightowl` in one of the tweets.

                                                tweet
0     Loving the weather today! #sunny #spring #happy
1                     Just had the best lunch ever ğŸ”ğŸŸ
2                 Why is Monday always so gloomy? â˜ï¸ğŸ˜”
3     I can't believe I forgot my umbrella again! â˜”ï¸ğŸ˜©
4                   Feeling productive this morning ğŸ’ª
5                    Stuck in traffic again, ugh! ğŸš—ğŸš•ğŸš™
6                 Excited for the concert tonight! ğŸ¶ğŸ¤
7                      Another day, another dollar ğŸ’¸ğŸ’°
8         Coffee is my best friend in the morning â˜•ï¸ğŸ˜´
9        Nothing beats a good book on a rainy day ğŸ“–â˜”ï¸
10                          Why do mornings exist? ğŸ˜´â°
11                  Just finished a great workout! ğŸ’ªğŸ’¦
12                        I need a vacation ASAP! ğŸ–âœˆï¸
13                   Netflix and chill kinda night ğŸ¿ğŸ“º
14                     Can't wait for the weekend! ğŸ‰ğŸ»
15                         Craving pizza right now ğŸ•ğŸ˜‹
16                 Monday blues hitting hard today ğŸ˜ğŸ’¼
17  That feeling when you find money in your pocke...
18                  Why do weekends go by so fast? â³ğŸ˜©
19      Wishing I was at the beach instead of work ğŸ–ğŸ˜©
20  Feeling grateful for good friends and good foo...
21                      Happiness is a warm puppy ğŸ¶â¤ï¸
22                Just saw the most amazing sunset ğŸŒ…ğŸ˜
23                          Work hard, play harder ğŸ’ªğŸ‰
24  Already counting down the days until my next v...
25  Can't believe I'm awake at this hour! ğŸ˜³ #nosle...

In [5]:
import re

sentence = "This is a sample sentence to check with regex."

# Define your regex pattern
pattern = r"regex"

# Use re.search to check if the pattern is present in the sentence
if re.search(pattern, sentence):
    print("Pattern found in the sentence.")
else:
    print("Pattern not found in the sentence.")

Pattern found in the sentence.