In [26]:
import pandas as pd


from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
vector = cv.fit_transform(['The cat love to eat', "The dog love to eat", "The cat chase the dog"])
print(vector.toarray())
print(vector.data)
cv.get_feature_names_out()

pd.DataFrame(vector.toarray(), columns = [cv.get_feature_names_out()])

[[1 0 0 1 1 1 1]
 [0 0 1 1 1 1 1]
 [1 1 1 0 0 2 0]]
[1 1 1 1 1 1 1 1 1 1 2 1 1 1]

  cat chase dog eat love the to
0   1     0   0   1    1   1  1
1   0     0   1   1    1   1  1
2   1     1   1   0    0   2  0

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

cv_tf = TfidfVectorizer(stop_words='english')
# cv_tf = TfidfVectorizer()

vector = cv_tf.fit_transform(['The cat love to eat', "The dog love to eat", "The cat chase the dog"])
# print(vector.toarray())
# print('-----')
# print(vector.data)
# cv_tf.get_feature_names_out()
print(cv_tf.vocabulary_)
pd.DataFrame(vector.toarray(), columns = [cv_tf.get_feature_names_out()])

{'cat': 0, 'love': 4, 'eat': 3, 'dog': 2, 'chase': 1}

        cat     chase       dog      eat     love
0  0.577350  0.000000  0.000000  0.57735  0.57735
1  0.000000  0.000000  0.577350  0.57735  0.57735
2  0.517856  0.680919  0.517856  0.00000  0.00000

In [35]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Example text data
text_data = [
    "This is the first text.",
    "Another text for the second row.",
    "A third text goes here.",
    "The fourth row has some more text.",
    "Fifth row's text.",
    "Sixth row with additional text.",
    "Text for the seventh row.",
    "Eighth row text.",
    "Ninth row text here.",
    "Tenth and final row's text."
]

# Create CountVectorizer
count_vectorizer = CountVectorizer()

# Vectorize the text data
count_matrix = count_vectorizer.fit_transform(text_data)

# Convert the sparse matrix to a DataFrame
df = pd.DataFrame(count_matrix.toarray(), columns=count_vectorizer.get_feature_names_out())

# Display DataFrame
df

,additional,and,another,eighth,fifth,final,first,for,fourth,goes,...,second,seventh,sixth,some,tenth,text,the,third,this,with
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
1,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,1,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
6,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,1,0,0,0
7,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

In [41]:
vect = CountVectorizer()
vect.fit(df)
vect.get_feature_names_out()

array(['additional', 'and', 'another', 'eighth', 'fifth', 'final',
       'first', 'for', 'fourth', 'goes', 'has', 'here', 'is', 'more',
       'ninth', 'row', 'second', 'seventh', 'sixth', 'some', 'tenth',
       'text', 'the', 'third', 'this', 'with'], dtype=object)

In [1]:
import pandas as pd

pd.set_option("display.max")

In [4]:
import numpy as np

def odd_even(number):
    if number %2 == 0


np.vectorize(['a', 'b'])

IndentationError: expected an indented block after function definition on line 3 (746720751.py, line 6)

In [4]:

import pandas as pd

# Sample tweets
tweets = [
    "Loving the weather today! #sunny #spring #happy",
    "Just had the best lunch ever üçîüçü",
    "Why is Monday always so gloomy? ‚òÅÔ∏èüòî",
    "I can't believe I forgot my umbrella again! ‚òîÔ∏èüò©",
    "Feeling productive this morning üí™",
    "Stuck in traffic again, ugh! üöóüöïüöô",
    "Excited for the concert tonight! üé∂üé§",
    "Another day, another dollar üí∏üí∞",
    "Coffee is my best friend in the morning ‚òïÔ∏èüò¥",
    "Nothing beats a good book on a rainy day üìñ‚òîÔ∏è",
    "Why do mornings exist? üò¥‚è∞",
    "Just finished a great workout! üí™üí¶",
    "I need a vacation ASAP! üèñ‚úàÔ∏è",
    "Netflix and chill kinda night üçøüì∫",
    "Can't wait for the weekend! üéâüçª",
    "Craving pizza right now üçïüòã",
    "Monday blues hitting hard today üòûüíº",
    "That feeling when you find money in your pocket üí∞üòÅ",
    "Why do weekends go by so fast? ‚è≥üò©",
    "Wishing I was at the beach instead of work üèñüò©",
    "Feeling grateful for good friends and good food üôèüç≤",
    "Happiness is a warm puppy üê∂‚ù§Ô∏è",
    "Just saw the most amazing sunset üåÖüòç",
    "Work hard, play harder üí™üéâ",
    "Already counting down the days until my next vacation ‚úàÔ∏èüå¥",
    "Can't believe I'm awake at this hour! üò≥ #nosleep @nightowl *^&^$^%#"
]

# Create DataFrame
df = pd.DataFrame(tweets, columns=['tweet'])

# Display DataFrame
print(df)


# This DataFrame includes various symbols and a mention `@nightowl` in one of the tweets.

                                                tweet
0     Loving the weather today! #sunny #spring #happy
1                     Just had the best lunch ever üçîüçü
2                 Why is Monday always so gloomy? ‚òÅÔ∏èüòî
3     I can't believe I forgot my umbrella again! ‚òîÔ∏èüò©
4                   Feeling productive this morning üí™
5                    Stuck in traffic again, ugh! üöóüöïüöô
6                 Excited for the concert tonight! üé∂üé§
7                      Another day, another dollar üí∏üí∞
8         Coffee is my best friend in the morning ‚òïÔ∏èüò¥
9        Nothing beats a good book on a rainy day üìñ‚òîÔ∏è
10                          Why do mornings exist? üò¥‚è∞
11                  Just finished a great workout! üí™üí¶
12                        I need a vacation ASAP! üèñ‚úàÔ∏è
13                   Netflix and chill kinda night üçøüì∫
14                     Can't wait for the weekend! üéâüçª
15                         Craving pizza right now üçïüòã
16                 Monday blues hitting hard today üòûüíº
17  That feeling when you find money in your pocke...
18                  Why do weekends go by so fast? ‚è≥üò©
19      Wishing I was at the beach instead of work üèñüò©
20  Feeling grateful for good friends and good foo...
21                      Happiness is a warm puppy üê∂‚ù§Ô∏è
22                Just saw the most amazing sunset üåÖüòç
23                          Work hard, play harder üí™üéâ
24  Already counting down the days until my next v...
25  Can't believe I'm awake at this hour! üò≥ #nosle...

In [5]:
import re

sentence = "This is a sample sentence to check with regex."

# Define your regex pattern
pattern = r"regex"

# Use re.search to check if the pattern is present in the sentence
if re.search(pattern, sentence):
    print("Pattern found in the sentence.")
else:
    print("Pattern not found in the sentence.")

Pattern found in the sentence.

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Creating a list of sentences
sentences = [
    "The quick brown fox jumps over the lazy dog.",
    "She sells seashells by the seashore.",
    "How much wood would a woodchuck chuck if a woodchuck could chuck wood?",
    "I scream, you scream, we all scream for ice cream.",
    "A journey of a thousand miles begins with a single step.",
    "To be or not to be, that is the question.",
    "All that glitters is not gold.",
    "A picture is worth a thousand words.",
    "Actions speak louder than words.",
    "The early bird catches the worm.",
    "Beauty is in the eye of the beholder.",
    "Better late than never.",
    "Birds of a feather flock together.",
    "Cleanliness is next to godliness.",
    "Don't count your chickens before they hatch.",
    "Don't put all your eggs in one basket.",
    "Every cloud has a silver lining.",
    "A penny saved is a penny earned.",
    "Practice makes perfect.",
    "When in Rome, do as the Romans do."
]

# Creating the DataFrame
df = pd.DataFrame(sentences, columns=['Sentence'])

# Display the DataFrame
df

                                             Sentence
0        The quick brown fox jumps over the lazy dog.
1                She sells seashells by the seashore.
2   How much wood would a woodchuck chuck if a woo...
3   I scream, you scream, we all scream for ice cr...
4   A journey of a thousand miles begins with a si...
5           To be or not to be, that is the question.
6                      All that glitters is not gold.
7                A picture is worth a thousand words.
8                    Actions speak louder than words.
9                    The early bird catches the worm.
10              Beauty is in the eye of the beholder.
11                            Better late than never.
12                 Birds of a feather flock together.
13                  Cleanliness is next to godliness.
14       Don't count your chickens before they hatch.
15             Don't put all your eggs in one basket.
16                   Every cloud has a silver lining.
17                   A penny saved is a penny earned.
18                            Practice makes perfect.
19                 When in Rome, do as the Romans do.

In [20]:
CV = CountVectorizer(stop_words= 'english', max_features=25, max_df = 0.9)                  # max_features = 1000, min_df = 2

raw_data =   CV.fit_transform(df['Sentence'])

In [21]:
raw_data.shape  # u can use this and separte between train and test data

(20, 25)

In [27]:
new_text = "I am handsome"

(1, 25)

In [ ]:
model.fit(X, y)

In [28]:
model.predict(CV.transform([new_text]).toarray().shape)

NameError: name 'model' is not defined