In [7]:
mytext = "Abid"
mynumber1 = 123
mynumber2 = 123.55
isIamHandsome = True



print(f"mytext type is {type(mytext)}")
print(f"mynumber1 type is {type(mynumber1)}")
print(f"mynumber2 type is {type(mynumber2)}")
print(f"isIamHandsome type is {type(isIamHandsome)}")

mytext type is <class 'str'>
mynumber1 type is <class 'int'>
mynumber2 type is <class 'float'>
isIamHandsome type is <class 'bool'>

In [25]:
# weh ahve several ways to print
name = "Abid"
age = 12

#using comma
print("My name is", name, "and i am : ", age)

#using +
print("My name is " + name + " and i am : " + str(age))

#using f
print(f"My name is {name},  and i am {age}")


#using "FORMAT"
print("My name is {} and I am {} years old".format(name, age))

My name is Abid and i am :  12
My name is Abid and i am : 12
My name is Abid,  and i am 12
My name is Abid and I am 12 years old

In [31]:
text1 = "Abid"
text2 = " Handsome"
num1 = 12
num2 = 15
nummm3 = "55"
nummm4 = "77"



print(text1 + text2)
print(num1 + num2)
print(nummm3 + nummm4)





print("ABid" + " Handsome")
print(12 + 44)
print("12" + "44")

Abid Handsome
27
5577
ABid Handsome
56
1244

In [39]:
# Repetition

text1 = "Handsome "
num= 5
fake_number = "5"



#with variables
print(text1 * 3)
print(num * 3)
print(fake_number * 3)



#without variable
print("AnyText " * 3)
print(5 * 3)
print("5" * 3)

Handsome Handsome Handsome
15
555
AnyText AnyText AnyText
15
555

In [54]:
long_text = "mark love brightchamps"

print(long_text[0])
print(long_text[1])
print(long_text[2])

print('-----')
print(long_text[0 : 4])
print(long_text[5 : 9])
print(long_text[10 : 22])

m
a
r
-----
mark
love
brightchamps

In [63]:
# Membership

# Membership in a string (str)

mystring = "FOX"

print('F' in mystring)
print('f' in mystring)


print('F' in "FAME")
print('f' in "FAME")

print("ayam" in 'ayam makan bebek')
print("AYAM" in 'ayam makan bebek')

True
False
True
False
True
False

In [73]:
# membership in list[]/tuple()

mylist1 = ['A', 'Budi', 'Cat and Dog']

print("A" in mylist1)
print("a" in mylist1)
print("Cat and Dog" in mylist1)
print("Cat" in mylist1)


mytuple1  = (5, 6, 7, 88)
print(1 in mytuple1)
print(5 in mytuple1)
print("5" in mytuple1)

True
False
True
False
False
True
False