In [7]:
mytext = "Abid"
mynumber1 = 123
mynumber2 = 123.55
isIamHandsome = True



print(f"mytext type is {type(mytext)}")
print(f"mynumber1 type is {type(mynumber1)}")
print(f"mynumber2 type is {type(mynumber2)}")
print(f"isIamHandsome type is {type(isIamHandsome)}")

mytext type is <class 'str'>
mynumber1 type is <class 'int'>
mynumber2 type is <class 'float'>
isIamHandsome type is <class 'bool'>

In [25]:
# weh ahve several ways to print
name = "Abid"
age = 12

#using comma
print("My name is", name, "and i am : ", age)

#using +
print("My name is " + name + " and i am : " + str(age))

#using f
print(f"My name is {name},  and i am {age}")


#using "FORMAT"
print("My name is {} and I am {} years old".format(name, age))

My name is Abid and i am :  12
My name is Abid and i am : 12
My name is Abid,  and i am 12
My name is Abid and I am 12 years old

In [31]:
text1 = "Abid"
text2 = " Handsome"
num1 = 12
num2 = 15
nummm3 = "55"
nummm4 = "77"



print(text1 + text2)
print(num1 + num2)
print(nummm3 + nummm4)





print("ABid" + " Handsome")
print(12 + 44)
print("12" + "44")

Abid Handsome
27
5577
ABid Handsome
56
1244

In [39]:
# Repetition

text1 = "Handsome "
num= 5
fake_number = "5"



#with variables
print(text1 * 3)
print(num * 3)
print(fake_number * 3)



#without variable
print("AnyText " * 3)
print(5 * 3)
print("5" * 3)

Handsome Handsome Handsome
15
555
AnyText AnyText AnyText
15
555

In [54]:
long_text = "mark love brightchamps"

print(long_text[0])
print(long_text[1])
print(long_text[2])

print('-----')
print(long_text[0 : 4])
print(long_text[5 : 9])
print(long_text[10 : 22])

m
a
r
-----
mark
love
brightchamps

In [63]:
# Membership

# Membership in a string (str)

mystring = "FOX"

print('F' in mystring)
print('f' in mystring)


print('F' in "FAME")
print('f' in "FAME")

print("ayam" in 'ayam makan bebek')
print("AYAM" in 'ayam makan bebek')

True
False
True
False
True
False

In [73]:
# membership in list[]/tuple()

mylist1 = ['A', 'Budi', 'Cat and Dog']

print("A" in mylist1)
print("a" in mylist1)
print("Cat and Dog" in mylist1)
print("Cat" in mylist1)


mytuple1  = (5, 6, 7, 88)
print(1 in mytuple1)
print(5 in mytuple1)
print("5" in mytuple1)

True
False
True
False
False
True
False

In [7]:
myage = int(input("How old are you"))          #str > int


print("This is age confirmation program, let me know your age")


if myage >= 18:
    print("You are an adult now")
elif myage >= 15:                            # else if, soo remember that we need to define the condition
    print("You are teen")
else :                                           # no need to define the condition, becouse its not >= 18 nor >= 15
    print("You are kids")



print("Thanks for confirming your age")

This is age confirmation program, let me know your age
You are an adult now
Thanks for confirming your age

In [19]:
# LESSSON 8
#Arithmetics Operation

number1 = 12
number2 = 4

text1 = "Iam"
text2 = "Handsome"

boolean1 = True
boolean2 = False


#same data type
print(f' {type(number1)}  +  {type(number2)}   = {number1 + number2}  ({type(number1 + number2)}) ')
print(f' {type(text1)}  +  {type(text2)}   = {text1 + text2}  ({type(text1 + text2)}) ')
# do for the boolean here

# print(f' {type(asdasdasd)}  +  {type(teasdasdasdxt2)}   = {asdasd + text2}  ({type(text1 + text2)}) ')   # does not work because cannot add int and text
#int and boolean
# text and boolean

 <class 'int'>  +  <class 'int'>   = 16  (<class 'int'>)
 <class 'str'>  +  <class 'str'>   = IamHandsome  (<class 'str'>)

In [20]:

#Arithmetics Operation (-)

number1 = 12
number2 = 4

text1 = "Iam"
text2 = "Handsome"

boolean1 = True
boolean2 = False


#same data type
print(f' {type(number1)}  -  {type(number2)}   = {number1 + number2}  ({type(number1 - number2)}) ')
print(f' {type(text1)}  -  {type(text2)}   = {text1 + text2}  ({type(text1 - text2)}) ')
# do for the boolean here

# print(f' {type(asdasdasd)}  +  {type(teasdasdasdxt2)}   = {asdasd + text2}  ({type(text1 + text2)}) ')   # does not work because cannot add int and text
#int and boolean
# text and boolean

 <class 'int'>  -  <class 'int'>   = 16  (<class 'int'>)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [3]:

#Arithmatics Operation
number1 = 12
number2 = 4


result = number1 + number2

print(type(result))

<class 'int'>

In [9]:
# Comparison Operators

number1 = 12
number2 = 4



print(f'number1 > number2  {number1 > number2}')
print(f'number2 > number1  {number2 > number1}')

number1 > number2  True
number2 > number1  False

In [17]:
text1 = 'B'  #96
text2 = 'A'  #97



print(f'{text1} > {text2}  {text1 > text2}')
print(f'{text2} > {text1}  {text2 > text1}')

B > A  True
A > B  False

In [18]:
boolean1 = True  #96
boolean2 = False  #97



print(f'{boolean1} > {boolean2}  {boolean1 > boolean2}')
print(f'{boolean2} > {boolean1}  {boolean2 > boolean1}')

True > False  True
False > True  False

In [25]:
#Logical Operator lesgo 
boolean1 = True  
boolean2 = False  


print( f"{boolean1} and {boolean2}    {boolean1 and boolean2}")
print( f"{boolean2} and {boolean1}    {boolean2 and boolean1}")
print( f"{boolean1} and {boolean1}    {boolean1 and boolean1}")
print( f"{boolean2} and {boolean2}    {boolean2 and boolean2}")

True and False    False
False and True    False
True and True    True
False and False    False