In [7]:
mytext = "Abid"
mynumber1 = 123
mynumber2 = 123.55
isIamHandsome = True



print(f"mytext type is {type(mytext)}")
print(f"mynumber1 type is {type(mynumber1)}")
print(f"mynumber2 type is {type(mynumber2)}")
print(f"isIamHandsome type is {type(isIamHandsome)}")

mytext type is <class 'str'>
mynumber1 type is <class 'int'>
mynumber2 type is <class 'float'>
isIamHandsome type is <class 'bool'>

In [25]:
# weh ahve several ways to print
name = "Abid"
age = 12

#using comma
print("My name is", name, "and i am : ", age)

#using +
print("My name is " + name + " and i am : " + str(age))

#using f
print(f"My name is {name},  and i am {age}")


#using "FORMAT"
print("My name is {} and I am {} years old".format(name, age))

My name is Abid and i am :  12
My name is Abid and i am : 12
My name is Abid,  and i am 12
My name is Abid and I am 12 years old

In [31]:
text1 = "Abid"
text2 = " Handsome"
num1 = 12
num2 = 15
nummm3 = "55"
nummm4 = "77"



print(text1 + text2)
print(num1 + num2)
print(nummm3 + nummm4)





print("ABid" + " Handsome")
print(12 + 44)
print("12" + "44")

Abid Handsome
27
5577
ABid Handsome
56
1244

In [39]:
# Repetition

text1 = "Handsome "
num= 5
fake_number = "5"



#with variables
print(text1 * 3)
print(num * 3)
print(fake_number * 3)



#without variable
print("AnyText " * 3)
print(5 * 3)
print("5" * 3)

Handsome Handsome Handsome
15
555
AnyText AnyText AnyText
15
555

In [54]:
long_text = "mark love brightchamps"

print(long_text[0])
print(long_text[1])
print(long_text[2])

print('-----')
print(long_text[0 : 4])
print(long_text[5 : 9])
print(long_text[10 : 22])

m
a
r
-----
mark
love
brightchamps

In [63]:
# Membership

# Membership in a string (str)

mystring = "FOX"

print('F' in mystring)
print('f' in mystring)


print('F' in "FAME")
print('f' in "FAME")

print("ayam" in 'ayam makan bebek')
print("AYAM" in 'ayam makan bebek')

True
False
True
False
True
False

In [73]:
# membership in list[]/tuple()

mylist1 = ['A', 'Budi', 'Cat and Dog']

print("A" in mylist1)
print("a" in mylist1)
print("Cat and Dog" in mylist1)
print("Cat" in mylist1)


mytuple1  = (5, 6, 7, 88)
print(1 in mytuple1)
print(5 in mytuple1)
print("5" in mytuple1)

True
False
True
False
False
True
False

In [7]:
myage = int(input("How old are you"))          #str > int


print("This is age confirmation program, let me know your age")


if myage >= 18:
    print("You are an adult now")
elif myage >= 15:                            # else if, soo remember that we need to define the condition
    print("You are teen")
else :                                           # no need to define the condition, becouse its not >= 18 nor >= 15
    print("You are kids")



print("Thanks for confirming your age")

This is age confirmation program, let me know your age
You are an adult now
Thanks for confirming your age

In [19]:
# LESSSON 8
#Arithmetics Operation

number1 = 12
number2 = 4

text1 = "Iam"
text2 = "Handsome"

boolean1 = True
boolean2 = False


#same data type
print(f' {type(number1)}  +  {type(number2)}   = {number1 + number2}  ({type(number1 + number2)}) ')
print(f' {type(text1)}  +  {type(text2)}   = {text1 + text2}  ({type(text1 + text2)}) ')
# do for the boolean here

# print(f' {type(asdasdasd)}  +  {type(teasdasdasdxt2)}   = {asdasd + text2}  ({type(text1 + text2)}) ')   # does not work because cannot add int and text
#int and boolean
# text and boolean

 <class 'int'>  +  <class 'int'>   = 16  (<class 'int'>)
 <class 'str'>  +  <class 'str'>   = IamHandsome  (<class 'str'>)

In [20]:

#Arithmetics Operation (-)

number1 = 12
number2 = 4

text1 = "Iam"
text2 = "Handsome"

boolean1 = True
boolean2 = False


#same data type
print(f' {type(number1)}  -  {type(number2)}   = {number1 + number2}  ({type(number1 - number2)}) ')
print(f' {type(text1)}  -  {type(text2)}   = {text1 + text2}  ({type(text1 - text2)}) ')
# do for the boolean here

# print(f' {type(asdasdasd)}  +  {type(teasdasdasdxt2)}   = {asdasd + text2}  ({type(text1 + text2)}) ')   # does not work because cannot add int and text
#int and boolean
# text and boolean

 <class 'int'>  -  <class 'int'>   = 16  (<class 'int'>)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [3]:

#Arithmatics Operation
number1 = 12
number2 = 4


result = number1 + number2

print(type(result))

<class 'int'>

In [9]:
# Comparison Operators

number1 = 12
number2 = 4



print(f'number1 > number2  {number1 > number2}')
print(f'number2 > number1  {number2 > number1}')

number1 > number2  True
number2 > number1  False

In [17]:
text1 = 'B'  #96
text2 = 'A'  #97



print(f'{text1} > {text2}  {text1 > text2}')
print(f'{text2} > {text1}  {text2 > text1}')

B > A  True
A > B  False

In [18]:
boolean1 = True  #96
boolean2 = False  #97



print(f'{boolean1} > {boolean2}  {boolean1 > boolean2}')
print(f'{boolean2} > {boolean1}  {boolean2 > boolean1}')

True > False  True
False > True  False

In [25]:
#Logical Operator lesgo 
boolean1 = True  
boolean2 = False  


print( f"{boolean1} and {boolean2}    {boolean1 and boolean2}")
print( f"{boolean2} and {boolean1}    {boolean2 and boolean1}")
print( f"{boolean1} and {boolean1}    {boolean1 and boolean1}")
print( f"{boolean2} and {boolean2}    {boolean2 and boolean2}")

True and False    False
False and True    False
True and True    True
False and False    False

In [5]:
#BItwise operation

# 5 = 0101
# 3 = 0011


# and opertor 
# 0001
print(5 & 3)
print(52 & 312)




#or operator 
#      0111  = 7
print( 5 | 3)
print( 1235 | 1233)

1
48
7
1235

In [12]:
a = 50

print(a)

# a = a + 5
a += 5
print(a)

50
55

In [13]:
a = 50

print(a)

# a = a + 5
a -= 5
print(a)

50
45

In [ ]:
a = 50

print(a)

# a = a + 5
a /= 5
print(a)

In [14]:
a = 50

print(a)

# a = a + 5
a *= 5
print(a)

50
250

In [21]:
# identity operator 
a = 50
b = 30
c = 50

print(a is b)
print(b is b)
print(a is a)
print(a is c)

False
True
True
True

In [27]:
# membership operators


# text

mylongtext = "BUDI LIKE INDOMIEE"
text = 'LIKE'
print('BUDI' in mylongtext)
print('budi' in mylongtext)
print(text in mylongtext)
print('L' in mylongtext)
print('Z' in mylongtext)

True
False
True
True
False

In [31]:
# in list

mylist = ['A', 'B', 'Chicken', 'Demn']

print('A' in mylist)
print('a' in mylist)
print('Chicken' in mylist)
print('CHICKERN' in mylist)

True
False
True
False

In [35]:
mylist2 = [121, 3232, 4343, 545, 656, 767, 878]
number = 545

print(121 in mylist2)
print('121' in mylist2)
print(number in mylist2)

True
False
True

In [37]:
# dictionary

myscore = {'score1' : 90,
           'score2' : 80}


print('score1' in myscore)

print(90 in myscore)

True
False

In [7]:
import time

something = 0


while something < 10:
    print("Hello")

    something = something + 1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
something = 0



something(1) < 10 (True)


something = something + 1 
something(2) < 10 (True)

something = something + 1 
something(3) < 10 (True)

something = something + 1 
something(4) < 10 (True)

something = something + 1 
something(5) < 10 (True)

something = something + 1 
something(6) < 10 (True)

something = something + 1 
something(7) < 10 (True)

something = something + 1 
something(8) < 10 (True)

something = something + 1 
something(9) < 10 (True)

something = something + 1 
something(10) < 10 (False) # IT STOP

In [41]:
import random

mynumber = random.randint(1, 10)
chose = 0
print(mynumber)
while True:
    chose = int(input("please insert your guess"))



    if chose == mynumber:
        break

4

In [1]:
# What is the factorial of 5?

5 * 4 * 3 * 2 * 1

120

In [2]:
# what is the factorial of 3?

3 * 2 * 1

6

In [3]:
# what is the factorial of 4?
4 * 3 * 2 * 1

24

In [8]:
#using For loop, to find the factorial of 5

factorial = int(input("what factorial?"))
total = 1
for i in range(1, factorial + 1):
    total = total * i


print(total)

3628800

In [14]:
factorial = int(input("What factorial "))
total = 1

while factorial >= 1 :
    # print(factorial)
    total = total * factorial
    factorial = factorial - 1


print(total)

120

In [26]:


#Example of prime Number
number = 15

for i in range(number,0, -1):
    print(i)
    if number % i == 0:
        print(f"{number} can be devided by {i}")

15
15 can be devided by 15
14
13
12
11
10
9
8
7
6
5
15 can be devided by 5
4
3
15 can be devided by 3
2
1
15 can be devided by 1

In [ ]:
1
1
2
3
5
8
13
21

In [4]:
left = 1
right = 1
result = left + right
print(result)


left = right
right = result
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

left = right
right = result 
result = left + right
print(result)

2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

In [17]:
def AreaOfSquare(number):
    side = number
    area = side * side
    print(area)

In [20]:
AreaOfSquare(6)

36