In [2]:
print("test")

test

In [2]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 1                1
# 3 3              2
# 5 5 5            3
# 7 7 7 7 
# 9 9 9 9 9
# 11 11 11 11 11 11

In [ ]:
for i in range(1000):
    print((str((i *2) + 1) + ' ')* i)

In [45]:
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25


# 1x1
# 2x1 2x2
# 3x1 3x2 3x3
# 4x1 4x2 4x3 4x4


for i in range(1, 11):
    # print(i)
    for j in range(1, i+1):
        print(j * i, end=' ')

    print('------')

1 ------
2 4 ------
3 6 9 ------
4 8 12 16 ------
5 10 15 20 25 ------
6 12 18 24 30 36 ------
7 14 21 28 35 42 49 ------
8 16 24 32 40 48 56 64 ------
9 18 27 36 45 54 63 72 81 ------
10 20 30 40 50 60 70 80 90 100 ------

In [90]:
import random
import time

alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
word = "HELLO WORLD"
goal = ''
num = 0

while num < 100:
    letter = alphabet[random.randint(1, len(alphabet)-1)]
    
    time.sleep(0.1)

    # if letter == alphabet[num]:
    #     goal = goal + letter
    #     num += 1
    #     break
    
    
    if letter == 'H':
        goal = goal + letter


    print(goal + letter)
    num += 1

O
U
Y
K
E
J
G
X
C
X
I
T
N
Z
X
R
E
O
L
K
U
E
W
N
R
Z
P
L
J
K
Q
P
HH
HT
HE
HV
HY
HQ
HC
HM
HN
HR
HU
HG
HQ
HW
HW
HX
HG
HY
HT
HD
HK
HP
HD
HW
HV
HB
HI
HZ
HJ
HF
HX
HU
HZ
HL
HU
HHH
HHX
HHY
HHR
HHN
HHS
HHT
HHQ
HHD
HHN
HHE
HHB
HHHH
HHHB
HHHB
HHHHH
HHHHQ
HHHHV
HHHHE
HHHHQ
HHHHS
HHHHO
HHHHL
HHHHC
HHHHD
HHHHD
HHHHQ
HHHHS
HHHHP
HHHHT
HHHHU
HHHHQ
HHHHZ

In [2]:
nama = input("Masukkan Nama Anda : ")
print("Nama Saya Adalah " + nama)

Nama Saya Adalah Abid

In [8]:
class Siswa():
    def __init__(self, umur):         #kerangka
        self.umur = umur


siswa1 = Siswa(12)
siswa1.umur = 15
siswa1.umur

15

In [14]:
class Murid():
    nama = ''
    umur = 0

murid1 = Murid()
murid1.nama = 'Ujang'
murid1.nama

'Ujang'

In [4]:
umur = 10

if umur > 17:
    print("Kamu boleh mengendarai")
else:
    print("Kamu belum Boleh mngendarai")

Kamu belum Boleh mngendarai

In [8]:
dictio = {'First Game' : [1, 1, 0, 1], 
          'Second Game' : [2, 2, 2, 2]}


dictio['First Game'] = [1, 1, 1, 1]

In [9]:
dictio

{'First Game': [1, 1, 1, 1], 'Second Game': [2, 2, 2, 2]}

In [ ]:
oridf 


oridf['column1'] = oridf['column1'].fillna(number)