In [6]:
import pandas as pd
import sqlite3


conn = sqlite3.connect('students.sqlite3')


query = "SELECT * FROM sqlite_master WHERE type='table';"
query_table = "SELECT * FROM students"

df = pd.read_sql_query(query_table, conn)

cursor = conn.cursor()
cursor.execute(query_table)


tables = cursor.fetchall()


print(df)
conn.close()

   id  Name  Age         DOB Gender
0   1     a   12  2024-07-04      M
1   2  Abid   22  2024-07-11      M
2   3     a   22  2024-07-05      M
3   4  abid   22  2024-07-03      M
4   5  Abid   12  2024-07-12      M
5   6  Abid   12  2024-07-20      M